:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  --icon-size: 30px;
  --main-color: #50f;
  --shadow-color: rgba(0, 0, 0, 0.25);
}

body {
  font-family: var(--font-family);
}

.bg-main {
  background-color: var(--main-color);
}

.color-main {
  color: var(--main-color);
}

[class*='emoji-']::before {
  display: inline-block;
  margin-right: calc(var(--icon-size) / 4);
  vertical-align: middle;
  width: var(--icon-size);
}

.emoji-link::before {
  content: '🔗';
}

.emoji-multimedia::before {
  content: '📸';
}

.emoji-resources::before {
  content: '⬇';
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-duration: 1s;
  animation-name: fadein;
}

.mw-px-400 {
  max-width: 400px;
}

.mw-px-600 {
  max-width: 600px;
}

.overlay {
  overflow: hidden;
  position: relative;
}

.overlay::before {
  background: var(--main-color);
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  transform: rotate(10deg) scale(1.5);
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.overlay:hover::before {
  opacity: 0.75;
  transform: rotate(10deg) scale(1.5) translateX(100%);
}

.overlay-text {
  background-color: rgba(0, 0, 0, 0.85);
  border: 2px solid var(--shadow-color);
  color: white;
  font-size: 3.5vh;
  left: 50%;
  margin: 0;
  max-width: 75%;
  padding: 1rem;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px var(--shadow-color);
  top: 50%;
  transform: skew(-10deg) rotate(-10deg) translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.overlay:hover .overlay-text {
  transition-delay: 0.25s;
  transform: skew(-10deg) rotate(-10deg) translate(-50%, 150%);
}

.progress-emoji {
  font-size: var(--icon-size);
  top: calc(-1 * var(--icon-size) * 1.25);
}

.rotate-x {
  transform: scaleX(-1) translateX(50%);
}

.text-shadow-1 {
  text-shadow: 1px 1px 1px var(--shadow-color);
}
